<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Training\ReplaceConstructorArgument\ViewModel\Example">
        <arguments>
            <argument name="main" xsi:type="object">Training\ReplaceConstructorArgument\Model\UpperName</argument>
        </arguments>
    </type>

</config>
